<div class="top">
	<h1 id="title" class="hidden"><span id="logo">Laluna <span>Palace</span></span></h1>
</div>
<div class="login-box animated fadeInUp">
	<div class="box-header">
		<h2>Đăng Nhập</h2>
	</div>
	<label for="username"><%= t("laluna.label.username") %></label>
	<br/>
	<input type="text" id="username">
	<br/>
	<label for="password"><%= t("laluna.label.password") %></label>
	<br/>
	<input type="password" id="password">
	<br/>
	<button type="submit"><%= t("laluna.label.login") %></button>
	<br/>
	<a href="#"><p class="small"><%= t("laluna.label.forgot_password") %></p></a>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>