<footer class="page-footer teal">
<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">Laluna Palace</h5>
      <p class="grey-text text-lighten-4">Laluna Palace là 1 tổ chức cung cấp các dịch vụ liên quan đến Nhà hàng, Du lịch.
      <br/>Với sứ mệnh mang đến dịch vụ tốt nhất, chất lượng tốt nhất đến với khác hàng
      <br/>Chúng tôi rất mong muốn được kết hợp, làm việc, hợp tác với các đối tác liên quan trong lĩnh vực mà chúng tôi đang hướng tới
      <br/>Xin chân thành cảm ơn.
      </p>


    </div>
    <div class="col l3 s12">
      <h5 class="white-text">Nội Dung</h5>
      <ul>
        <li><a class="white-text" href="#!">Laluna Bar & Restaurant</a></li>
        <li><a class="white-text" href="http://danangpho.vn" target="_blank">Đà Nẵng Phố</a></li>
        <li><a class="white-text" href="#!">CDV</a></li>
        <li><a class="white-text" href="#!">NLV</a></li>
      </ul>
    </div>
    <div class="col l3 s12">
      <h5 class="white-text">Liên Hệ</h5>
      <ul>
        <li><a class="white-text" href="#!">Facebook</a></li>
        <li><a class="white-text" href="#!">Google Plus</a></li>
        <li><a class="white-text" href="#!">twitter</a></li>
        <li><a class="white-text" href="#!">Youtube</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  Made by <a class="brown-text text-lighten-3" href="http://daithuvien.com">Laluna Palace</a>
  </div>
</div>
</footer>