<nav class="teal" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo white-text">Laluna Palace</a>
      <ul class="right hide-on-med-and-down">
        <!--<li><a href="#" class="white-text nav-dtv">Đăng Ký</a></li>-->
        <li>
          <%= link_to t("laluna.label.login") , new_session_path, class:"white-text nav-dtv" %>
        </li>
      </ul>
    
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Đăng Ký</a></li>
        <li><a href="#">Đăng Nhập</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>