<div class="container">
    <div class="section">
    <br/><br/><br/><br/>
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <!-- <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>
    
            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div> -->
           <div class="card-panel dtv-card">     
            <header>      
              <h2 class="center">Laluna Reservation</h2>
            </header>
            <p class="light white-text">Chuyên mục quản lý, hỗ trợ đối tác thực hiện các giao dịch đặt bàn, đặt phòng, đặt tour du lịch. Thống kê dữ liệu thông minh. </p>
    
            <div class="row">
              <div class="col s10 offset-s1 center-align">
                  <button class="btn waves-effect waves-light" type="submit" name="action">
                      Truy Cập
                      <i class="material-icons right">send</i>
                  </button>
              </div>
            </div>
           </div>
        </div>
    
        <div class="col s12 m4">
          <div class="card-panel dtv-card">           
             <header>      
              <h2 class="center">Đà Nẵng Travel</h2>
            </header>
    
            <p class="light white-text">Là dịch vụ chia sẻ thông tin cần thiết cho người đi du lịch tại Đà Nẵng. Cung cấp ứng dụng đa nền tảng trên Web, Android, iOS</p>
            <div class="row">
              <div class="col s10 offset-s1 center-align">
                  <button class="btn waves-effect waves-light dtv-send-button" type="submit" name="action">
                      Truy Cập
                      <i class="material-icons right">send</i>
                  </button>
              </div>
            </div>
           </div>
        </div>
    
        <div class="col s12 m4">
          <div class="card-panel dtv-card">           
             <header>      
              <h2 class="center">Dịch Vụ Khác</h2>
            </header>
    
            <p class="light white-text">Các dịch vụ mới được cung cấp bởi hệ thống Laluna Palace. Thông tin chính thức sẽ được chúng tôi cung cấp trong thời gian sớm nhất.</p>
            <div class="row">
              <div class="col s10 offset-s1 center-align">
                  <button class="btn waves-effect waves-light" type="submit" name="action">
                      Truy Cập
                      <i class="material-icons right">send</i>
                  </button>
              </div>
            </div>
           </div>
        </div>
      </div>
    </div>
    </div>
    <br/><br/><br/><br/><br/><br/>