<!-- footer content -->
<footer>
  <div class="pull-right">
    A Product of <a href="https://lalunapalace.com">LalunaPalace</a> © 2017
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->